---
---
$baseurl: "{{site.baseurl}}";
$break-biggest: 750px;
$break-medium: 600px;

$primary: #af231c;
$secondary: #666666;
$cold-compliment: #1da8af;
$cold-compliment_10: darken($cold-compliment, 10%);
$cold-compliment_20: darken($cold-compliment, 20%);
$cold-compliment_30: darken($cold-compliment, 30%);
$cold-compliment_40: darken($cold-compliment, 40%);
$cold-compliment_50: darken($cold-compliment, 50%);
$warm-compliment: #af921d;

@import "resets";
@import "wrap";
@import "site-header";
@import "footer";
@import "page-content";
@import "home";
@import "post";
@import "highlight";
@import "nuget";
@import "image-frame";
@import "custom-icons";
@import "availability-box";
