---
layout: default
permalink: /resources/
title: Resources
resource_categories:
    - "AngularJS Modules"
    - "Development Tools"
    - "Database Tools and Libraries"
---


<div class="home">
{% for cat in page.resource_categories %}

<h1>{{ cat }}</h1>

    <ul class="posts">

    {% assign links = site.resources | where: 'category', cat %}
    {% for link in links %}
    <li class="post-content">
         <a class="post-link tracked" href="{{ link.address }}">{{ link.title }}</a>
         <p>
             {{link.content}}
         </p>
    </li>
    {% endfor %}

    </ul>
{% endfor %}
</div>
