<p class="image-frame">
    {% if include.href && include.href contains "://" %}
        <a href="{{include.href}}">
    {% elsif include.href %}
        <a href="{{site.baseurl}}{{include.href}}">
    {% endif %}
    {% if include.src contains "://" %}
        <img class="test" src="{{ include.src }}" alt="{{ include.alt | default(include.caption) }}">
    {% else %}
        <img class="test" src="{{ site.baseurl }}{{ include.src }}" alt="{{ include.alt | default(include.caption) }}">
    {% endif %}
    {% if include.href %}
    </a>
    {% endif %}
    {%if include.fig %} <b>Fig. {{ include.fig }}</b>{% endif %}
    {{ include.caption }}
</p>
