<!DOCTYPE html>
<html>
    <head>
      {% include meta.html %}
      <!-- Custome CSS -->
      <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

      <!-- Google Plus Share Link, etc. -->
      <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>

    <body>

    {% include facebook-init.html %}

    {% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

    </body>
</html>
